.task-box-1 {background-color: #286812;}

.set-box-1 {background-color: #359e12;}

.center {
    justify-content: center;
    align-items: center;
    }

.border-pad {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}


.left-pad-30 {
  padding-left: 25px;
}


.left-pad {
  padding-left: 15px;
}


.left-pad-5 {
  padding-left: 5px;
}

.large-pad {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-right: 75px;
  padding-left: 10px;
}

.center-text {
  text-align: center;
}

.logo {
   text-decoration: none;
}


navbar {background-color: black;}

.read-row {
    font-size: 0.8pc;
}

tr {
    font-size: 1.0pc;
}

.setting{
    width: 150px;
}

.parent-div {
    display: grid;
    gap: 20px;  /* Adds 20px of space between grid items */
}

.is-100px{
    width: 15px;
}

.row-container-always {
    display: flex;        /* Use Flexbox */
    flex-wrap: nowrap;    /* Prevent wrapping on multiple lines */
    overflow-x: auto;     /* Allow horizontal scrolling if needed */
    white-space: nowrap;  /* Prevent content inside children from wrapping */
}


@media screen and (min-width: 300px) and (max-width: 763px) {

        .row-container {
            display: flex;        /* Use Flexbox */
            flex-wrap: nowrap;    /* Prevent wrapping on multiple lines */
            overflow-x: auto;     /* Allow horizontal scrolling if needed */
            white-space: nowrap;  /* Prevent content inside children from wrapping */
        }

        .mobile-center{
            justify-content: center;
            align-items: center;
              text-align: center;

            }

        .mobile-emblem{
            width: 25px;
            overflow: hidden;

        }
}


@media (min-width:763px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
    tr {
        font-size: 1.3pc;
    }

    .row-container-desktop {
        display: flex;        /* Use Flexbox */
        flex-wrap: nowrap;    /* Prevent wrapping on multiple lines */
        overflow-x: auto;     /* Allow horizontal scrolling if needed */
        white-space: nowrap;  /* Prevent content inside children from wrapping */
    }
}