<div class="column">
<table class="table has-text-dark">
<thead>
<tr>
                    <th></th>
                    <th>controls</th>
</tr>
</thead>
<tbody>

    <tr>
        <td><ion-icon class="icon is-medium" name="refresh"></ion-icon></td>
        <td>refresh action</td>
    </tr>

    <tr>
        <td><ion-icon class="icon is-medium" name="eye-outline"></ion-icon></td>
        <td>check point</td>
    </tr>

    <tr>
        <td><ion-icon class="icon is-medium" name="eye-off-outline"></ion-icon></td>
        <td>no check</td>
    </tr>

    <tr>
        <td><ion-icon class="icon is-medium" name="play-outline"></ion-icon></td>
        <td>action start</td>
    </tr>

    <tr>
        <td><ion-icon class="icon is-medium" name="timer-outline"></ion-icon></td>
        <td>duration</td>
    </tr>

    <tr>
        <td><ion-icon class="icon is-medium" name="eyedrop-outline"></ion-icon></td>
        <td>read point</td>
    </tr>

    <tr>
        <td><ion-icon class="icon is-medium" name="footsteps-sharp"></ion-icon></td>
        <td>control point</td>
    </tr>

    <tr>
        <td><ion-icon class="icon is-medium" name="thermometer-outline"></ion-icon></td>
        <td>point settings</td>
    </tr>

    <tr>
        <td><ion-icon class="icon is-medium" name="play-forward-sharp"></ion-icon></td>
        <td>start point</td>
    </tr>

    <tr>
        <td><p class="is-size-5 has-text-dark">min</p></td>
        <td>minimum read</td>
    </tr>

    <tr>
        <td><p class="is-size-5 has-text-dark">max</p></td>
        <td>maximum read</td>
    </tr>

    <tr>
        <td><ion-icon class="icon is-medium" name="snow-outline"></ion-icon></td>
        <td>end point</td>
    </tr>



</tbody>
</table></div>