{%
 set main_guide = {
    "enter": ("log in", ""),
    "exit": ("log out", ""),
    "add-circle-sharp": ("add action", ""),
    "airplane": ("thermostat action", ""),
    "alarm": ("time action", ""),
    "pricetag": ("device tag", ""),
    "power": ("device power", ""),
    "thermometer-outline": ("device point", ""),
    "refresh": ("refresh settings", ""),
    "trash": ("delete actions", ""),
    "leaf": ("initialize", "")
}
%}


<div class="column">
<table class="table has-text-dark">
<thead>
<tr>
                    <th></th>
                    <th>main</th>
</tr>
</thead>
<tbody>

    {% for key, value in main_guide.items() %}


        <tr>
            <td><ion-icon class="icon is-medium" name="{{key}}"></ion-icon></td>
            <td>{{value[0]}}</td>
        </tr>


    {% endfor %}


    <script src="{{ url_for('static', filename='script.js') }}"></script>


</tbody>
</table></div>