<div class="column">
<table class="table has-text-dark">
<thead>
<tr>
                    <th></th>
                    <th>main</th>
</tr>
</thead>
<tbody>
    <tr>
        <td><ion-icon class="icon is-medium" name="enter"></ion-icon></td>
        <td>log in</td>
    </tr>

    <tr>
        <td><ion-icon class="icon is-medium" name="exit"></ion-icon></td>
        <td>log out</td>

    <tr>
        <td><ion-icon class="icon is-medium" name="add-circle-sharp"></ion-icon></td>
        <td>add action</td>
    </tr>

    </tr>

    <tr>
        <td><ion-icon class="icon is-medium" name="airplane"></ion-icon></td>
        <td>thermostat action</td>
    </tr>

    <tr>
        <td><ion-icon class="icon is-medium" name="alarm"></ion-icon></td>
        <td>time action</td>
    </tr>

    <tr>
        <td><ion-icon class="icon is-medium" name="pricetag"></ion-icon></td>
        <td>device tag</td>
    </tr>

    <tr>
        <td><ion-icon class="icon is-medium" name="power"></ion-icon></td>
        <td>device power</td>
    </tr>

    <tr>
        <td><ion-icon class="icon is-medium" name="thermometer-outline"></ion-icon></td>
        <td>device point</td>
    </tr>

    <tr>
        <td><ion-icon class="icon is-medium" name="refresh"></ion-icon></td>
        <td>refresh settings</td>
    </tr>

    <tr>
        <td><ion-icon class="icon is-medium" name="trash"></ion-icon></td>
        <td>delete actions</td>
    </tr>

    <tr>
        <td><ion-icon class="icon is-medium" name="leaf"></ion-icon></td>
        <td>initialize</td>
    </tr>


</tbody>
</table></div>