<div class="column">
<table class="table has-text-dark">
<thead>
<tr>
    <th></th>
    <th>status</th>
</tr>
</thead>
<tbody>
    <tr>
        <td><ion-icon class="icon is-medium" name="add"></ion-icon></td>
        <td>new</td>
    </tr>
    <tr>
        <td><ion-icon class="icon is-medium" name="extension-puzzle-outline"></ion-icon></td>
        <td>saved</td>
    </tr>

    <tr>
        <td><ion-icon class="icon is-medium" name="play-circle-sharp"></ion-icon></td>
        <td>running</td>
    </tr>

    <tr>
        <td><ion-icon class="icon is-medium" name="close"></ion-icon></td>
        <td>cancelled</td>
    </tr>

    <tr>
        <td><ion-icon class="icon is-medium" name="alert-circle-sharp"></ion-icon></td>
        <td>error</td>
    </tr>

    <tr>
        <td><ion-icon class="icon is-medium" name="stop-outline"></ion-icon></td>
        <td>ended</td>
    </tr>

</tbody>
</table></div>