{% extends "base.html" %}
{% block content %}
<div class="columns center tile is-vertical">
<div class="column hero box has-background-grey-lighter">
<table class="table is-hoverable has-background-grey-lighter">
    <thead>
    <tr class="has-text-dark">
        <th><!--id--></th>
        <th><ion-icon class="icon is-medium" name="pricetag-outline"></ion-icon></th>
        <th ><ion-icon class="icon is-medium" name="power"></ion-icon></th>
        <th><ion-icon class="icon is-medium" name="thermometer-outline"></ion-icon></th>
        <th><ion-icon class="icon is-medium" name="airplane-outline"></ion-icon></th>
        <th><ion-icon class="icon is-medium" name="alarm-outline"></ion-icon></th>
    </tr>
    </thead>
    <tbody>
    {% for container in containers %}

    <tr class="has-text-dark">
        <td>{{ container.name[-2:] }}</td>
        <td>{{ container.label }}</td>
        {% if checks %}
            <td>{{ checks[container.name].power }}</td>
            <td>{{ checks[container.name].read_setpoint }}</td>
        {% else %}
            <td> - </td>
            <td> - </td>
        {% endif %}
        <td>
            {% include "components/add_task_button.html" %}
        </td>
        <td>
            {% include "components/add_set_button.html" %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<div class="columns">
    <div class="column row-container">
    {% include "components/table_buttons.html" %}
    </div>
    <div class="column is-7">
        <div class="p is-size-4">
    {% if refresh %}
        {{ refresh }}
    {% else %}
           <ion-icon class="icon is-medium" name="eye-off-outline"></ion-icon>
    {% endif %}
        </div>
    </div>

</div>
    </div>
{% endblock %}