{% extends "base.html" %}
{% block content %}
<div class="columns is-multiline center tile is-vertical">
<div class="column is-7 hero box has-background-grey">
<table class="table is-hoverable has-background-grey has-text-link">
    <thead>
    <tr>
        <th class="is-size-5 has-text-link"><!--id--></th>
        <th class="is-size-5 has-text-link"><ion-icon class="icon is-medium" name="pricetag-outline"></ion-icon></th>
        <th class="is-size-5 has-text-link"><ion-icon class="icon is-medium" name="power"></ion-icon></th>
        <th class="is-size-5 has-text-link"><ion-icon class="icon is-medium" name="thermometer-outline"></ion-icon></th>
        <th class="is-size-5 has-text-link"><ion-icon class="icon is-medium" name="airplane-outline"></ion-icon></th>
        <th class="is-size-5 has-text-link"><ion-icon class="icon is-medium" name="alarm-outline"></ion-icon></th>
    </tr>
    </thead>
    <tbody>
    {% for container in containers %}

    <tr>
        <td>{{ container.name }}</td>
        <td>{{ container.label }}</td>
        <td>{{ checks[container.name].power }}</td>
        <td>{{ checks[container.name].read_setpoint }}</td>
        <td>
            {% include "components/add_task_button.html" %}
        </td>
        <td>
            {% include "components/add_set_button.html" %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<div class="column">    {% include "components/table_buttons.html" %}
</div>
    </div>
{% endblock %}