{% extends "base.html" %}

{% block content %}

<div class="card hero box is-link tile is-ancestor is-vertical">
<!--    navigation tabs-->
    <form method="POST">


        <div class="tabs tile is-centered is-toggle">
            <ul>
                    {% for cont in containers %}
                    {% if cont == task_container: %}
                <li class="is-active">
                    <a href="{{ url_for('input.new_task', container=cont.name) }}">{{ cont.given_name }}</a>
                </li>
                    {% else %}
                <li>
                    <a href="{{ url_for('input.new_task', container=cont.name) }}">{{ cont.given_name }}</a>
                </li>
                    {% endif %}
                    {% endfor %}
            </ul>
        </div>


    <div class="tile is-parent is-vertical is-link">
<!--    text input new given_name -->
        <div class="block">
            <div class="p is-size-3">{{ task_container.name }}</div>
            <div class="tile is-4">
           {{ form.given_name(class="input", value=task_container.given_name) }}
            </div>
        </div>

<!--        thermometer checkboxes form-->
        <div class="column tile is-vertical box">
            <div class="select is-multiple">
                <select multiple size="7">
                    {% for choice in form.measure_selection.choices %}
                        <option value="{{choice.device_id}}">{{choice.device_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

    </div>
<!-- go buttons -->
    <div class="tile is-child buttons">
        <div class="tile">
            {{ form.submit(class="button is-link is-inverted is-large") }}
        </div>
    </div>

{{ form.csrf_token }}

    </form>
</div>

{% endblock %}