{% extends "base.html" %}

{% block content %}

<div class="card hero box is-link tile is-ancestor is-vertical">
<!--    navigation tabs-->
    <form method="POST">
{{ form.csrf_token }}


        <div class="tabs tile tabs is-centered is-toggle">
            <ul>
                    {% for cont in containers %}
                    {% if cont == task_container: %}
                <li class="is-active">
                    <a href="{{ url_for('input.new_task', container=cont.name) }}">{{ cont.given_name }}</a>
                </li>
                    {% else %}
                <li>
                    <a href="{{ url_for('input.new_task', container=cont.name) }}">{{ cont.given_name }}</a>
                </li>
                    {% endif %}
                    {% endfor %}
            </ul>
        </div>


    <div class="tile is-child is-vertical is-link">
<!--    text input new given_name -->
        <div class="control block">
           <input
                   class="input"
                   type="text"
                   name="given_name"
                   value="{{ task_container.given_name }}">
        </div>

<!--        thermometer checkboxes form-->
        <div class="column tile is-vertical box">

            {% for choice in form.measure_selection.choices %}
            <label class="checkbox">
                <input
                        type="checkbox"
                        name="measure_selection"
                        value="{{ choice.device_id }}">
                {{ choice.device_name }}
            </label>


            {% endfor %}
        </div>

    </div>
<!-- go buttons -->
    <div class="buttons tile section buttons">
        <button class="button is-link is-inverted is-large" type="submit">Go!</button>
    </div>


    </form>
</div>

{% endblock %}