{% extends "base.html" %}

{% block content %}
<div class="block">
    {% include "components/select_container.html" %}
    <div class="box">
        {% include "components/select_action.html" %}

        <form method="POST">
            <div class="columns tile is-vertical">
            <div class="level column is-full tile is-vertical large-pad">
                {% include "components/name.html" %}
                {% include "components/temp_set.html" %}
                {% include "components/beginning.html" %}
            </div>
            <div class="column">{% include "components/buttons.html" %}</div>
            </div>
            {{ form.csrf_token }}
        </form>
    </div>
</div>
{% endblock %}