{% extends "base.html" %}

{% block content %}
<div class="block">
    {% include "components/select_container.html" %}
    <div class="box set-box has-background-grey-lighter">
        {% include "components/select_action.html" %}

        <form method="POST">
            <div class="columns is-multiline is-centered">
                <div class="column is-7 tile is-vertical">
                    {% include "components/input/name.html" %}
                    {% include "components/input/temp_set.html" %}
                    {% include "components/input/beginning.html" %}
                    {% include "components/input/email.html" %}

                </div>

            </div>
            <div class="columns is-centered">
                <div class="column">{% include "components/input/buttons.html" %}</div>
            </div>

            {{ form.csrf_token }}
        </form>
    </div>
</div>



{% if controls %}
    <div class="box has-background-grey-lighter">
        <div class="columns level section">
            {% include "components/verify/controls.html" %}
            {% include "components/verify/checks.html" %}
        </div>
    </div>
{% endif %}

{% endblock %}