{% extends "base.html" %}

{% block content %}
<div class="column is-9 card box">
    <!--navbar-->
    <div class="tabs tile is-centered is-toggle">
        <ul>
            {% for cont in all_containers %}
            {% if cont == task_container: %}
            <li class="is-active">
                <a href="{{ url_for('input.task', container=cont.name) }}">{{ cont.label }}</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for('input.task', container=cont.name) }}">{{ cont.label }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <!--    form -->
    <form method="POST">

        <div class="columns is-desktop level">

            <div class="column is-7 section block tile is-parent is-vertical">

                <!--    task parameters-->
                <div class="tile is-parent">
                    <!--    name -->
                    <ion-icon class="tile is-2 icon is-medium" name="pricetag-outline"></ion-icon>
                    {{ form.name(class="input tile is-4") }}
                    <div class="tile is-3 center">{{ task_container.name }}</div>
                </div>

                {% include "components/duration.html" %}
                {% include "components/temperature.html" %}

            </div>
        </div>
</div>
                {% include "components/measures.html" %}

</div>

<div class="level">
    <div class="buttons">
        {{ form.cancel(class="button is-danger is-large") }}
        {{ form.save(class="button is-info is-large") }}
        {{ form.submit(class="button is-link is-large") }}
    </div>
</div>
{{ form.csrf_token }}
</form>
</div>
{% endblock %}