{% extends "base.html" %}

{% block content %}
<div class="block">
    {% include "components/select_container.html" %}


    <div class="box has-background-grey-lighter">
        {% include "components/select_action.html" %}
        <form method="POST">
            <div class="columns is-centered level">
                <div class="column is-5 tile is-ancestor is-vertical is-dark">
                    {% include "components/name.html" %}
                    {% include "components/beginning.html" %}
                    {% include "components/duration.html" %}
                    {% include "components/temp_band.html" %}
                </div>

                <div class="column is-4">
                    {% include "components/measures.html" %}
                </div>

            </div>
            {% include "components/buttons.html" %}

            {{ form.csrf_token }}
        </form>
    </div>

    {% if controls %}
        <div class="box has-background-grey-lighter">
            <div class="columns section">
            {% include "components/control_steps.html" %}
            {% include "components/checks.html" %}
            {% include "components/reads.html" %}
            </div>
        </div>
    {% endif %}

</div>
{% endblock %}