{% extends "base.html" %}

{% block content %}
<div class="card box">
<!--navbar-->
<div class="tabs tile is-centered is-toggle">
            <ul>
                    {% for cont in all_containers %}
                    {% if cont == task_container: %}
                <li class="is-active">
                    <a href="{{ url_for('input.task', container=cont.name) }}">{{ cont.given_name }}</a>
                </li>
                    {% else %}
                <li>
                    <a href="{{ url_for('input.task', container=cont.name) }}">{{ cont.given_name }}</a>
                </li>
                    {% endif %}
                    {% endfor %}
            </ul>
        </div>

<!--form -->
<form method="POST">
        {{ form.csrf_token }}
        {{ form.name(class="input") }}
        {{ form.choices }}
        {{ form.submit(class="button is-link is-inverted is-large") }}
</form>
</div>
{% endblock %}