{% set action_button = "button is-large is-primary" %}

{% if '/set/' in url_for(request.endpoint, container=task_container.name) %}
    <a class="{{action_button}} is-static is-focused has-text-primary">
        <ion-icon class="icon is-large" name="alarm"></ion-icon>
    </a>
{% elif task_container.task %}
    <a class="{{action_button}}" disabled>
        <ion-icon class="icon is-large" name="alarm"></ion-icon>
    </a>
{% else %}
    <a class="{{action_button}}" href="{{ url_for('input_set.temp_set', container=task_container.name) }}">
        <ion-icon class="icon is-large" name="alarm"></ion-icon>
    </a>
{% endif %}

{% if '/task/' in url_for(request.endpoint, container=task_container.name) %}
    <a class="{{action_button}} is-static is-focused has-text-primary">
        <ion-icon class="icon is-large" name="airplane"></ion-icon>
    </a>
{% elif task_container.set %}
    <a class="{{action_button}}" disabled>
        <ion-icon class="icon is-large" name="airplane"></ion-icon>
    </a>
{% else %}
    <a class="{{action_button}}"
       href="{{ url_for('input_task.task', container=task_container.name) }}">
        <ion-icon class="icon is-large" name="airplane"></ion-icon>
    </a>
{% endif %}