<div class="row-container tile is-parent">
    <!--    play icon -->
    <ion-icon class="tile is-child is-2 icon is-medium" name="play-outline"></ion-icon>
    <!--    date  -->
    {{ form.date(class="input tile is-child is-5") }}
    <!--    time -->
    <div class="left-pad control has-icons-right tile is-4">
        {{ form.time(class="input tile is-child") }}
        <span class="icon is-right has-text-dark">
            <ion-icon name="time-outline"></ion-icon>
        </span>
    </div>
</div>
