<div class="tile is-parent">
    <ion-icon class="icon tile is-2 is-medium" name="thermometer-outline"></ion-icon>

    <div class="tile is-vertical">
        <div class="row-container tile is-parent">

                {% include "components/verify/setpoint_check.html" %}
        </div>

        <!--start-->
        <div class="row-container tile is-parent">
            <ion-icon name="play-forward-sharp" class="icon is-medium tile is-2"></ion-icon>
            <div class="tile is-4 control has-icons-right">
                {{ form.t_start(class="input") }}
                <span class="icon is-right has-text-dark">°C</span>
            </div>
        </div>


        <!--minimum-->
        <div class="row-container tile is-parent">
            <div class="icon is-medium tile is-2 mobile-center"><p class="is-size-5 has-text-dark">min</p></div>
            <div class="tile is-4 control has-icons-right">
                {{ form.t_min(class="input") }}
                <span class="icon is-right has-text-dark">°C</span>
            </div>
        </div>

        <!--maximum-->
        <div class="row-container tile is-parent">
            <div class="icon is-medium tile is-2 mobile-center"><p class="is-size-5 has-text-dark">max</p></div>
            <div class="tile is-4 control has-icons-right">
                {{ form.t_max(class="input") }}
                <span class="icon is-right has-text-dark">°C</span>
            </div>
        </div>

        <!--freezing-->
        <div class="row-container tile is-parent">
            <ion-icon name="snow-outline" class="icon is-medium tile is-2"></ion-icon>
            <div class="tile is-4 control has-icons-right">
                {{ form.t_freeze(class="input") }}
                <span class="icon is-right has-text-dark">°C</span>
            </div>
        </div>
    </div>
</div>