<div class="tabs tile is-centered is-toggle">
    <ul>
        {% if '/set/' in url_for(request.endpoint, container=task_container.name) %}
            <li class="is-active">
                <a href="{{ url_for('input.temp_set', container=task_container.name) }}">Setting</a>
            </li>
            <li>
                <a href="{{ url_for('input.task', container=task_container.name) }}">Thermostat</a>
            </li>
        {% else %}
            <li>
                <a href="{{ url_for('input.temp_set', container=task_container.name) }}">Setting</a>
            </li>
            <li class="is-active">
                <a href="{{ url_for('input.task', container=task_container.name) }}">Thermostat</a>
            </li>
        {% endif %}
    </ul>
</div>