{% if not container.set %}
<a class="button is-medium is-primary center" href="{{ url_for('input.task', container=container.name) }}">
    {% if container.task %}
<!--        {{ container.task[0].status }}-->
            {% set task_status = container.task[0].status %}
            {% include "components/status_icon.html" %}
    {% else %}
        <ion-icon class="icon is-large" name="add"></ion-icon>
    {% endif %}
</a>
{% else %}
<a class="button is-medium is-primary center" disabled><ion-icon class="icon is-medium" name="add"></ion-icon></a>
{% endif %}