<!--    time delta-->
<div class="row-container tile is-parent">
    <!--    timer icon -->
    <ion-icon class="tile is-2 icon is-medium" name="timer-outline"></ion-icon>
    <!--    hours -->
    <div class="tile is-2 control has-icons-right">
        {{ form.hours(class="input") }}
        <span class="icon is-right">h</span>
    </div>

    <!--    time colon -->
    <span class="is-size-4">&nbsp;:&nbsp;</span>

    <!--    minutes -->
    <div class="tile is-2 control has-icons-right">
        {{ form.minutes(class="input") }}
        <span class="icon is-right">min</span>
    </div>
</div>