    <section class="hero is-black">
        <div class="navbar row-container-always">
               <div class="navbar-start">
                    <a class="logo navbar-item" href="{{ url_for('main.index') }}">
                        {% include "components/logo.html" %}
                    </a>
                </div>
                    <div class="left-pad-30 navbar-end row-container-always">
                        {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('auth.login') }}" class="navbar-item">
                                <ion-icon class="icon is-medium" name="enter"></ion-icon>
                            </a>
                        {% endif %}
                        {% if current_user.admin %}
                            <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                                <ion-icon class="icon is-medium" name="person-add"></ion-icon>
                            </a>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('control.tasks') }}" class="navbar-item">
                                <ion-icon class="icon is-medium" name="add-circle-sharp"></ion-icon>
                            </a>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                <ion-icon class="icon is-medium" name="exit"></ion-icon>
                            </a>
                        {% endif %}
                    </div>
        </div>
    </section>