<nav class="navbar is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="logo navbar-item" href="{{ url_for('main.index') }}">
        {% include "components/logo.html" %}
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
          {% if not current_user.is_authenticated %}
          <a href="{{ url_for('auth.login') }}" class="navbar-item">
              <ion-icon class="icon is-large" name="log-in-outline"></ion-icon>
          </a>
          {% endif %}

    </div>



    <div class="navbar-end">



        {% if current_user.admin %}
            <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                <ion-icon class="icon is-large" name="person-add-outline"></ion-icon>
            </a>
        {% endif %}

        {% if current_user.is_authenticated %}
            <a href="{{ url_for('control.tasks') }}" class="navbar-item">
                <ion-icon class="icon is-large" name="add-circle-outline"></ion-icon>
            </a>


          <a href="{{ url_for('auth.logout') }}" class="navbar-item">
              <ion-icon class="icon is-large" name="exit-outline"></ion-icon>
          </a>
        {% endif %}





      </div>
    </div>
  </div>
</nav>