{% if reads %}
{% endif %}

<table class="table is-dark is-striped is-narrow">
    <thead>
    <tr>
        <th class="has-text-dark"><ion-icon class="icon is-medium" name="hourglass-outline"></ion-icon></th>
        <th class="has-text-dark"><ion-icon class="icon is-medium" name="time-outline"></ion-icon></th>
        <th class="has-text-dark"><ion-icon class="icon is-medium" name="eye-outline"></ion-icon></ion-icon></th>
    </tr>
    </thead>
    <tbody>
    {% for read in reads[:5] %}
        <tr class="read-row">
            <td>{{ read.db_time }}</td>
            <td>{{ read.read_time }}</td>
            <td>{{ read.temperature }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>