<p class="buttons center">
    <a class="button is-large" href="{{ url_for('control.tasks', container=task_container.name) }}">
        <span class="icon is-large">
                <ion-icon name="arrow-back"></ion-icon>
            </span>
    </a>
    {% if '/set/' in url_for(request.endpoint, container=task_container.name) or task_container.task %}
        <a class="button is-large is-static">
    {% else %}
        <a class="button is-large" href="{{ url_for('input.temp_set', container=task_container.name) }}">
    {% endif %}
            <span class="icon is-large">
                <ion-icon name="alarm-outline"></ion-icon>
            </span>
        </a>
    {% if '/task/' in url_for(request.endpoint, container=task_container.name) or task_container.set %}
            <a class="button is-large is-static">
    {% else %}
            <a class="button is-large" href="{{ url_for('input.task', container=task_container.name) }}">
    {% endif %}
                <span class="icon is-large">
                <ion-icon name="airplane-outline"></ion-icon>
                </span>
        </a>

</p>