{% if task_status == 'new' %}
    <ion-icon class="icon is-large" name="extension-puzzle-outline"></ion-icon>
{% elif task_status == 'ended' %}
    <ion-icon class="icon is-large" name="stop-outline"></ion-icon>
{% elif task_status == 'cancelled' %}
    <ion-icon class="icon is-large" name="close"></ion-icon>
{% elif task_status == 'error' %}
    <ion-icon class="icon is-large" name="alert-circle-sharp"></ion-icon>
{% elif task_status == 'running' %}
    <ion-icon class="icon is-large" name="play-circle-sharp"></ion-icon>
{% else %}

{% endif %}
