<div class="buttons row-container-desktop">

    <form action="{{ url_for('control.check') }}" method="post">
        <button class="button" type="submit">
            <ion-icon class="icon is-large" name="refresh"></ion-icon>
        </button>
    </form>
    &nbsp;
    {% if current_user.admin %}

    <form action="{{ url_for('control.delete_checks') }}" method="post">
        <button class="button" type="submit">
            <ion-icon class="icon is-large" name="trash"></ion-icon>
        </button>
    </form>
    &nbsp;

    <form action="{{ url_for('control.init_db') }}" method="post">
        <button class="button" type="submit">
            <ion-icon class="icon is-large" name="play-circle"></ion-icon>
        </button>
    </form>

    {% endif %}
</div>