<div class="buttons">

    <form action="{{ url_for('control.check') }}" method="post">
        <button class="button" type="submit">
            <ion-icon class="icon is-large" name="refresh"></ion-icon>
        </button>
    </form>
    &nbsp;

    {% if not containers %}
    <form action="{{ url_for('control.init_db') }}" method="post">
        <button class="button" type="submit">
            <ion-icon class="icon is-large" name="play-circle"></ion-icon>
        </button>
    </form>
    {% else %}
        <button class="button is-static" type="submit">
            <ion-icon class="icon is-large" name="play-circle"></ion-icon>
        </button>
    {% endif %}
</div>