<div class="row-container-always buttons block">

    <form action="{{ url_for('control.check') }}" method="post">
        <button class="button is-link is-outlined" type="submit">
            <ion-icon class="icon is-large" name="refresh"></ion-icon>
        </button>
    </form>
    &nbsp;
    {% if checks %}

        <form action="{{ url_for('control.delete_data') }}" method="post">
            <button class=" button is-danger is-outlined" type="submit">
                <ion-icon class="icon is-large" name="trash"></ion-icon>
            </button>
        </form>

    {% else %}
    <form>
            <button class="button is-danger is-outlined is-static" type="submit">
                <ion-icon class="icon is-large" name="trash"></ion-icon>
            </button>
    </form>
    {% endif %}
    &nbsp;
    {% if not containers %}

        <form action="{{ url_for('control.init_db') }}" method="post">
            <button class="button is-danger is-outlined" type="submit">
                <ion-icon class="icon is-large" name="play-circle"></ion-icon>
            </button>
        </form>

    {% else %}
        <button class="button is-warning is-outlined" disabled type="submit">
            <ion-icon class="icon is-large" name="play-circle"></ion-icon>
        </button>

    {% endif %}
</div>